@model TMDT_Lab4.Helper.SearchParameters

<h3>Company</h3>
<div>
    @foreach (var item in Model.Company)
    {
        <input name="Company[]" type="checkbox" value="@item" />
        <span>@item</span>
        <b>&nbsp;</b>
    }
</div>
<br />

<h3>ScreenResolution</h3>
<div>
    @foreach (var item in Model.ScreenResolution)
    {
        <input name="ScreenResolution[]" type="checkbox" value="@item" />
        <span>@item</span>
        <b>&nbsp;</b>
    }
</div>
<br />

<h3>TypeName</h3>
<div>
    @foreach (var item in Model.TypeName)
    {
        <input name="TypeName[]" type="checkbox" value="@item" />
        <span>@item</span>
        <b>&nbsp;</b>
    }
</div>
<br />

<h3>Inches</h3>
<div>
    @foreach (var item in Model.Inches)
    {
        <input name="Inches[]" type="checkbox" value="@item" />
        <span>@item</span>
        <b>&nbsp;</b>
    }
</div>
<br />

<h3>CPU</h3>
<div>
    @foreach (var item in Model.CPU)
    {
        <input name="CPU[]" type="checkbox" value="@item" />
        <span>@item</span>
        <b>&nbsp;</b>
    }
</div>
<br />

<h3>Speed</h3>
<div>
    @foreach (var item in Model.Speed)
    {
        <input name="Speed[]" type="checkbox" value="@item" />
        <span>@item</span>
        <b>&nbsp;</b>
    }
</div>
<br />

<h3>Memory</h3>
<div>
    @foreach (var item in Model.Memory)
    {
        <input name="Memory[]" type="checkbox" value="@item" />
        <span>@item</span>
        <b>&nbsp;</b>
    }
</div>
<br />

<h3>RAM</h3>
<div>
    @foreach (var item in Model.Ram)
    {
        <input name="Ram[]" type="checkbox" value="@item" />
        <span>@item</span>
        <b>&nbsp;</b>
    }
</div>
<br />

<h3>GPU</h3>
<div>
    @foreach (var item in Model.Gpu)
    {
        <input name="Gpu[]" type="checkbox" value="@item" />
        <span>@item</span>
        <b>&nbsp;</b>
    }
</div>
<br />

<h3>GEN</h3>
<div>
    @foreach (var item in Model.Gen)
    {
        <input name="Gen[]" type="checkbox" value="@item" />
        <span>@item</span>
        <b>&nbsp;</b>
    }
</div>
<br />

<h3>OS</h3>
<div>
    @foreach (var item in Model.OpSys)
    {
        <input name="OpSys[]" type="checkbox" value="@item" />
        <span>@item</span>
        <b>&nbsp;</b>
    }
</div>
<br />

<h3>Weight</h3>
<div>
    @foreach (var item in Model.Weight)
    {
        <input name="Weight[]" type="checkbox" value="@item" />
        <span>@item</span>
        <b>&nbsp;</b>
    }
</div>
<br />










